@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* css reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --body-font:'Montserrat', sans-serif;
    --primary-color:#4E5150;
    --secondary-color:#F2994A;
    --label-color:#4F4F4F;
}
/* Utilities */
body{
    font-family: var(--body-font);
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
input{
    border: none;
}
input:focus{
    outline: none;
}
.fas{
    color: #828282;
    margin: 0 .5em;
}
p{
    color: #333333;
    font-size: 1em;
    margin-bottom: .5em;
}
.container{
    max-width:960px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* background-color: #f3f3f3; */
}
/* checkput header */
.checkout__title{
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: .5em;
}
/* Checkout Form */
.checkout__form--control{
    margin-bottom: .5em;
}
.checkout__form--control label{
    color:var(--label-color) ;
    font-size: .75em;
}
.input_icon{
    border:  1px solid #828282;
    border-radius: 15px;
    display:flex;
    align-items: center;
    padding: .2em;
    margin-top: .5em;
}
.input_icon input{
    width: 90%;
    padding: .5em;
    background:inherit;
}
button{
    cursor: pointer;
}
label{
    margin-bottom: 1em;
}
.shipping{
    padding: 2em 0;
}
.col-2{
    display: flex;
}
.col-2 div:nth-child(1){
    margin-right: .5em;
}

.checkbox{
    margin: .5em 0;
    padding: .5em 0;
}
.checkbox label{
    color: var(--label-color);
    font-size: .7em;
}

.button{
    padding: .5em 0;
    text-align: right;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: .75em 1.5em;
    font-size: .75em;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
}

/* checkout items */

.products .product__data{
    display:grid;
    gap: .5em;
    width: 318px;
    background: #F2F2F2;
    padding: .7em;
    margin-bottom: 1.5em;
    border-radius: 5px;
}
.product__card{
    display:flex;
}
.card__img{
    width: 50%;
    margin-right: .5em;
}
.card__img img{
    border-radius: 10px;
}
.card__data{
    padding: 1em;
}
.card__data .name{
    font-size: .75em;
}
.card__data .price{
    font-size: .75em;
    color:var(--secondary-color); 
}
.card__data .sales{
    color: var(--primary-color);
    font-size: .7em;
    font-weight: 600;
    text-decoration: line-through;
    padding: 0 .75em;
}
.card__data .select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .75em;
}
.card__data .btn-remove, .card__data .btn-add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: .5em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background: #c5c5c5;
}
.card__data .btn-remove:focus, .card__data .btn-add:focus{
    outline: none;
}
.calculations{
    margin-top: .75em;
}
.cost{
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
}
.cost p{
    font-size: .7em;
    color: var(--label-color);
    font-weight: 600;
}

.border{
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
   
}
footer .content{
    padding: .75em 0;
    text-align: center;
    font-size: .75em;
}
footer .fa-heart{
    color: var(--secondary-color);
}
/* Large screens */

@media(min-width:600px){
    .container{
        flex-direction:row; 
        align-items: flex-start;
        justify-content: space-between;
    }
    .products{
        width: 50%;
        margin-left: 1.5em;
        padding: 0 1em;
    }
    .product__data{
        width: 400px;
        padding:1em;
    }
}