@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* css reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --body-font:'Montserrat', sans-serif;
    --primary-color:#4E5150;
    --secondary-color:#F2994A;
    --label-color:#4F4F4F;
}
/* Utilities */
body{
    font-family: var(--body-font);
}
a{
    text-decoration: none;
}
input{
    border: none;
}
input:focus{
    outline: none;
}
.fas{
    color: #828282;
    margin-right: .5em;
}
.container{
    max-width:700px;
    margin: 0 auto;
    padding: 1em;
    background-color: #f3f3f3;
}
/* checkput header */
.checkout__title{
    font-size: 1.2em;
    font-weight: 500;
}
/* Checkout Form */
.checkout__form--control p{
    color: #333333;
    font-size: 1em;

}
.checkout__form--control label{
    color:var(--label-color) ;
    font-size: .75em;
}
.input_icon{
    border:  1px solid #828282;
    border-radius: 15px;
    display:flex;
    align-items: center;
    padding: .2em;
}
.input_icon input{
    width: 90%;
    padding: .5em;
    background:inherit;
}